@import '~@angular/material/theming';

@include mat-core();

// 白天主题
// 定义颜色
$app-day-primary: mat-palette($mat-indigo);
$app-day-accent: mat-palette($mat-pink, A200, A100, A400);
$app-day-warn: mat-palette($mat-red);
// 将颜色组成主题
$app-day-theme: mat-light-theme($app-day-primary, $app-day-accent, $app-day-warn);

// 黑夜主题
// 定义颜色
$app-night-primary: mat-palette($mat-blue-gray);
$app-night-accent: mat-palette($mat-amber, A200, A100, A400);
$app-night-warn: mat-palette($mat-deep-orange);
// 将颜色组成主题
$app-night-theme: mat-light-theme($app-night-primary, $app-night-accent, $app-night-warn);

// 使主题生效
@include angular-material-theme($app-day-theme);

.app-night-theme {
    @include angular-material-theme($app-night-theme);
}